{% extends "admin/index.html" %}
{% block sidebar %}
{{ block.super }}

<p><strong>Payment is due before the 15th of every month.</strong></p>
<p>Make cheques payable to: <strong>RECEIVER GENERAL</strong></p>

<pre>
Office/mailing address:
1166 West Pender Street
Vancouver BC  V6E 3H8
Fax: 604-689-7536
</pre>

<p>T4s must be submitted before Feburary.</p>
<ul>
    <li><a href="http://www.cra-arc.gc.ca/tx/bsnss/tpcs/pyrll/rtrns/t4/menu-eng.html?=slnk">T4 411 for employers</a></li>
</ul>

<p>Links</p>
<ul>
    <li><a href="http://www.cra-arc.gc.ca/tx/bsnss/tpcs/pyrll/menu-eng.html">Payroll</a></li>
    <li><a href="http://www.cra-arc.gc.ca/cntct/prv/tstc/vncvr-eng.html">Vancouver Tax Services Office</a></li>
    <li><a href="http://www.cra-arc.gc.ca/tx/bsnss/tpcs/pyrll/pymnts/frms/menu-eng.html">Remittance Forms</a></li>
    

</ul>

{% endblock %}